#!/bin/bash

# Set the Github repository directory
GIT_ROOT_DIR=$(git rev-parse --show-toplevel)

# Setup for each OS
case "$OSTYPE" in
    msys | cygwin | win32)
        echo "Running on Windows (Git Bash or Cygwin)."

        # Set the work directory
        WORKSPACE_ROOT_DIR=$(cygpath -u "$GIT_ROOT_DIR")
        ;;
    linux-gnu*)
        echo "Running on Linux."

        # Set the work directory
        WORKSPACE_ROOT_DIR=$GIT_ROOT_DIR
        ;;
    darwin*)
        echo "Running on macOS."

        # Set the work directory
        WORKSPACE_ROOT_DIR=$GIT_ROOT_DIR
        ;;
    *)
        echo "ERROR: Unknown OS: ${OSTYPE}."
        exit 1
        ;;
esac

export PATH="${PATH}:${WORKSPACE_ROOT_DIR}/bin"

exit 0
